{% extends "admin/masterAdmin.html.twig" %}
{% block content %}

    <p>Operation successful - Activity updated</p>
    <p><a href="/admin/activity">Click here to continue</a></p>

{% endblock content %}