{% extends "master.html.twig" %}

{% block title %}Access denied{% endblock %}

{% block content %}
    <p>Access denied</p>
    <p>Access denied. You must be logged in as Administrator to access this page.
        <a href="/">Click to continue</a>.</p>
{% endblock %}