{% extends "master.html.twig" %}

{% block title %}Logout successful{% endblock %}

{% block head %}
    <script>
    // redirect with JavaScript
    setTimeout(function () {
       window.location.href = "/"; // destination
    }, 5000); //will call the function after 5 secs.
    </script>
{% endblock %}

{% block content %}
    <p>Logout successful</p>
    <p><a href="/">Click to continue</a>. You will be automatically redirected in 5 seconds.</p>
{% endblock %}