{% extends "master.html.twig" %}

{% block title %}Pets Registration{% endblock %} 

{% block content %}
<div class="container">
<p>Pets created successfully. <a href="">Click to continue</a>. </p>
</div>
{% endblock content %}