{% extends "staff.html.twig" %}

{% block title %}Adoption Request Confirmation{% endblock %} 

{% block content %}
<div class="container">
<p>Adoption request confirmation successfully. <a href="">Click to continue</a>. </p>
</div>
{% endblock content %}
