{% extends "master.html.twig" %}

{% block title %}Pets Communicate{% endblock %} 

{% block content %}
<div class="container">
<p>Pet communicate submission successfully. <a href="">Click to continue</a>. </p>
</div>
{% endblock content %}
