{% extends "master.html.twig" %}

{% block title %}Pets ParaDise{% endblock %} 

{% block content %}

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <!--
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            -->
            <img src="images/head1.svg" width="140" height="140">
            <h2>Micro Chipping</h2>
            <p>A microchip for your pet can mean the difference between lost and found. Although tags and collars are important, they can tear or slip off.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <!--
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            -->
            <img src="images/head2.svg" width="140" height="140">
            <h2>Grooming</h2>
            <p>Taking your animal for a professional groom is a necessity that feels like a luxury. Simply make an appointment, drop it off, and return to a clean, fresh-smelling pet with a sleek.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <!--
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            -->
            <img src="images/head3.svg" width="140" height="140">
            <h2>Fostering</h2>
            <p>When you foster a dog or cat you’ll be freeing up space in our shelter so that we can rescue more animals in desperate need..</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Become a Volunteer. <span class="text-muted">with the SPCA West.</span></h2>
            <p class="lead"> supporting a no-kill shelter that saves over 2,000 animals every year. If you would like to support our cause by becoming a volunteer, please fill out the form below, and we will be in contact as soon as possible!</p>
        </div>
        <div class="col-md-5">
            <!--
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            -->
            <img src="images/content1.svg" width="500" height="500">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Investigations Division. <span class="text-muted" is officially been mandated.</span></h2>
            <p class="lead">The SPCA West’s Animal Protection Officers are charged with enforcing the provisions of the Criminal Code dealing with crimes against animals, as well as Quebec’s provincial animal welfare legislation,We cover the region starting from the West Island of Montreal, all the way to the Ontario border. Any concern for an animal’s welfare will be addressed by our team of investigators in a professional and confidential manner.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <!--
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            -->
            <img src="images/content2.svg" width="500" height="500">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Surrenders. <span class="text-muted">We never want to see.</span></h2>
            <p class="lead">However, our lives as humans can change from one day to the next, and these changes may bring choices that must be made.The toughest choice we can make is to give up our pet to give it a better life. We understand and more importantly, respect the difficult decisions our community members have to make.</p>
        </div>
        <div class="col-md-5">
            <!--
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            -->
            <img src="images/content3.svg" width="500" height="500">
        </div>
    </div>

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% endblock content %}