<!DOCTYPE html>
<html lang="en">  
    <head>
        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
        <!-- Bootstrap core CSS -->
        <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }
            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                font-size: 3.5rem;
                }
            }
        </style>
        <!-- Custom styles for this template -->
        <link href="form-validation.css" rel="stylesheet">
        <link href="carousel.css" rel="stylesheet">

        <link rel="stylesheet" href="styles.css"/>

        <title>{% block title %}{% endblock %} - PetsParadise</title>
        {% block head %}{% endblock %}
    </head>
    
    <body>
        <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
                <a class="navbar-brand" href="#">PetsParadise</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="addpets">AddPets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="staff">AdoptionRequests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="staff">Communications</a>
                        </li>
                    </ul>
                    
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        {% if userSession %}
                            <li class="nav-item">
                            <a class="nav-link" aria-current="page">Welcome <b>{{ userSession.userName }}</b></a>
                            </li>
                            <li class="nav-item">
                                <a href="/logout" class="nav-link active">Log Out</a>
                            </li>

                        {% if userSession.type=='admin' %}
                            <span><a href="/admin"  class="nav-link active" style="color:orange;">Access Admin</a></span>
                        {% endif %}

                        {% else %}
                            <li class="nav-item">
                                <a href="/login"><button class="btn btn-warning" type="button">Login</button></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>    
        </div>
    </nav>

    <!-- Register Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Register</h5>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="index.php/register">
                        <div class="mb-3 row">
                            <div class="col">
                                <label for="firstNameInput" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="firstNameInput" name="firstName">
                            </div>
                            <div class="col">
                                <label for="middleNameInput" class="form-label">Middle Name</label>
                                <input type="text" class="form-control" id="middleNameInput" name="middleName" aria-describedby="middleNameHelp">
                                <div class="form-text" id="middleNameHelp">Optional</div>
                            </div>
                            <div class="col">
                                <label for="lastNameInput" class="form-label">LastName</label>
                                <input type="text" class="form-control" id="lastNameInput" name="lastName">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col">
                                <label for="emailInput" class="form-label">Email Address</label>
                                <input type="email" class="form-control" id="emailInput" name="emailAddress" placeholder="address@example.com">
                            </div>
                            <div class="col">
                                <label for="dateOfBirthInput" class="form-label">Date of Birth</label>
                                <input type="date" class="form-control" id="dateOfBirthInput" name="dateOfBirth">
                            </div>
                            <div class="col">
                                <label for="currentCityInput" class="form-label">Current City</label>
                                <input type="text" class="form-control" id="currentCityInput" name="currentCity" aria-describedby="currentCityHelp">  
                                <div class="form-text" id="currentCityHelp">Optional</div>    
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col">
                                <label for="passwordInput" class="form-label">Password</label>
                                <input type="password" class="form-control" id="passwordInput" name="password">
                            </div>
                            <div class="col">
                                <label for="confirmPasswordInput" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPasswordInput" name="confirmPassword">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Login Model -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="./login">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="emailInput" class="form-label">Email Address</label>
                                <input type="email" class="form-control" id="emailInput" placeholder="address@example.com">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="passwordInput" class="form-label">Password</label>
                                <input type="password" class="form-control" id="passwordInput">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

        </header>        

        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <!--
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                    -->
                    <img src="images/carousel1.svg" width="100%" height="100%">
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Adoption.</h1>
                            <p>If you are interested in any of our animals available for adoption, come in and meet them with your entire family</p>
                            <p><a class="btn btn-lg btn-primary" href="adoptionlist">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                    -->
                    <img src="images/carousel2.svg" width="100%" height="100%">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Fostering.</h1>
                            <p>Fostering animals can also be a pleasurable experience. It’s rewarding to know that you played a key part in the rehoming process</p>
                            <p><a class="btn btn-lg btn-primary" href="adoptionlist">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                    -->
                    <img src="images/carousel3.svg" width="100%" height="100%">
                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>Donation.</h1>
                            <p>Helping us continue to save the lives of countless animals in need every single day.</p>
                            <p><a class="btn btn-lg btn-primary" href="donate">Learn more</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <hr>

        <div>
            {% if flashMessage %}<div class="flashMessage">{{flashMessage}}</div>{% endif %}
            {% block content %}{% endblock %}
            <!--
            <div id="footer">
                {% block footer %}
                {% endblock %}
                <hr>
                &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
                
            </div>
            -->    
        </div>
    
        <hr>

        <footer class="container">
            <p class="float-end"><a href="#">Back to top</a></p>
            <p>&copy; 2017–2021 Pets Paradise Company, Corp. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>

        <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
        <script src="form-validation.js"></script>
        <script src="cheatsheet.js"></script>
    </body>
</html>